<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<footer th:fragment="common-footer" >
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Progress Bar -->
    <script src="/js/progressbar.min.js"></script>
    <!-- Main JS -->
    <script src="/js/main.js"></script>
    <!-- Attribute change -->
    <script type="text/javascript" src="js/attrchange.js"></script>
    <!-- Attribute change extension -->
    <script type="text/javascript" src="js/attrchange_ext.js"></script>
</footer>

</body>
</html>