<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

  <!-- Common Header -->
  <head th:replace="common/header :: common-header"/>
	

  <body class="page home-page responsive-page relative">

  <!--Common Topbar -->
  <div th:replace="common/header :: common-topbar"/>

  <!-- Common Aside -->
  <div th:replace="common/header :: common-aside"/>

    <!-- Content -->
    <main class="content full-height relative">
        <!-- Content Header -->
        <!--<head th:replace="common/header :: common-head" />-->
        
        <div class="inner-content padding-space credit-content">
        	<input type="hidden" id="total_amount" name="total_amount" value="0"/>
        	<input type="hidden" id="product_credit" name="product_credit" value="0"/>
			        	
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/250c.png" data-credit="250" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/500c.png" data-credit="500" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/1000c.png" data-credit="1000" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/1250c.png" data-credit="1250" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/1500c.png" data-credit="1500" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/2000c.png" data-credit="2000" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/2250c.png" data-credit="2250" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/2500c.png" data-credit="2500" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/3000.png" data-credit="3000" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/3500c.png" data-credit="3500" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/4000c.png" data-credit="4000" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="credit-img">
                                    <img src="images/credits/5000c.png" data-credit="5000" class="img-fluid" alt="Credit Img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <aside class="credit-sidebar">
                            <div class="sub-title summary credit-bg-color">
                                <p>Summary</p>
                            </div>
                            
                            <div class="credit-space credit-bg-color">
                                <img style="display:none;" src="/images/credits/2500c.png" class="img-fluid" alt="Credit" id="summaryImg">
                                <p id="summaryCredit">0 Boosted Credit</p>
                            </div>
                            
                            <div class="credit-space credit-bg-color total-price">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <p>Subtotal:</p>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="text-right">
                                            <p class="subtotal">$00.00 USD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <p>Shipping:</p>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="text-right">
                                            <p class="shipping">$00.00 USD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <p>Taxes:</p>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="text-right">
                                            <p class="tax">$00.42 USD</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <hr>
                                
                                <div class="row total-price-font">
                                    <div class="col-xl-6">
                                        <p>Total:</p>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="text-right">
                                            <p class="total">$0.00 USD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <form action="">
                                            <div class="row">
                                                <div class="col-xl-8">
                                                    <p>All sales are filan</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <div class="text-right">
                                                        <input type="checkbox">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-right credit-form-btn">
                                                <button id="purchaseButton" class="btn-custom btn-effect" type="button">Purchase</button>
                                            </div>
                                        </form>
                                        <!-- <form action="your-server-side-code" method="POST">
										  <script
										    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
										    data-key="pk_test_GiSWrVvNWrr0wBHsaKe7DcJH"
										    data-amount="999"
										    data-name="Proxy Backend"
										    data-description="Example charge"
										    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
										    data-locale="auto">
										  </script>
										</form>  --> 
                                        
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <img src="/images/payments.png" class="payments">
                                </div>
                                
                                <div class="row">
                                    <div class="col">
                                        <p class="text-center">The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Common Footer -->
    <div th:replace="common/footer :: common-footer"/>
  
  </body>
  <script src="https://checkout.stripe.com/checkout.js"></script>
	<script>
	var handler = StripeCheckout.configure({
	  key: '[[${stripeKey}]]',
	  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
	  locale: 'auto',
	  token: function(token) {
		  $.post( "/credits/payment", {'stripeToken': token.id, 'amount': $("#total_amount").val(), 'desc': 'Credit: ' + $("#product_credit").val()})
		  .done(function(msg){ 
			  swal("Payment Successfull!", token.card.name +"\n YOU WILL BE CONTACTED within 24HRS", "success");
		  	})
    	  .fail(function(xhr, status, error) {
			  swal("Error!", error, "error");
	    });
		  
		  
	    // You can access the token ID with `token.id`.
	    // Get the token ID to your server-side code for use.
	  }
	});


	document.getElementById("purchaseButton").addEventListener("click", function() {
		handler.open({
			    name: 'Proxy Backend',
			    description: 'Credit: ' + $("#product_credit").val(),
			    amount: $("#total_amount").val() + '00',
			    currency: 'usd'
			  });
	});
	


	// Close Checkout on page navigation:
	window.addEventListener('popstate', function() {
	  handler.close();
	});
</script>

</html>
