<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">

    <title>Data-usage Residental</title>
</head>
<body class="page home-page responsive-page relative">

<header class="top-bar">
    <div class="text-right">
            <span id="toggle-button">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
    </div>
</header>

<!-- Sidebar -->
<aside class="sidebar full-height">

    <!-- Logo + User -->
    <div class="logo-user">
        <div class="sidebar-logo">
        </div>
        <h5 class="text-center">Welcome, <span class="bold">Novi</span></h5>
    </div>

    <!-- Sidebar Nav -->
    <nav class="sidebar-nav">
        <ul>
            <li>
                <a href="#">
                    <img src="images/icons/profiles.png" class="icons" alt="Profiles"> Profiles
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <img src="images/icons/home-small.png" class="icons" alt="Home"> Home
                </a>
            </li>
            <li>
                <a href="credits.html">
                    <img src="images/icons/credit-small.png" class="icons" alt="Home"> Purchase Credit
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/icons/hrs-small.png" class="icons" alt="Home"> Hours Datacenter
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/icons/datausage-small.png" class="icons" alt="Home"> Data-usage Residental
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/icons/nike-small.png" class="icons" alt="Home"> Nike Account
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/icons/close.png" class="icons" alt="Home"> BoostedX
                </a>
            </li>
        </ul>
    </nav>

    <!-- Sidebar Logout -->
    <div class="sidebar-logout text-center">
        <a href="#">
            <img src="images/icons/logout.png" class="icons" alt="Logout"> Logout
        </a>
    </div>

</aside>

<!-- Content -->
<main class="content full-height relative">
    <!-- Content Header -->
    <header class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <ul class="text-right">
                        <li>
                            <img src="images/icons/credit-small.png" class="icons" alt="Credit"> <span>2150 credits</span>
                        </li>
                        <li>
                            <span class="bold">C.EXP.</span> 01/20/19
                        </li>
                        <li>
                            <img src="images/icons/datausage-small.png" class="icons" alt="Datacenters"> <span class="bold">5.1 GB</span>
                        </li>
                        <li>
                            <span class="bold">D.EXP.</span> 01/20/19
                        </li>
                        <li>
                            <img src="images/icons/hrs-small.png" class="icons" alt="Hrs"> <span class="bold">4 Hrs</span>
                        </li>
                        <li>
                            <img src="images/icons/24-small.png" class="icons" alt="24Hrs"> <span class="bold">0 Hrs</span>
                        </li>
                        <li>
                            <span class="expire">Expire:&nbsp;&nbsp;&nbsp; 7/1/2018 00:00:00 EST</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="inner-content padding-space">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="content-title">
                        <h2>Data-usage Residental</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="sub-title default-bg-color">
                        <h6>Purchase</h6>
                    </div>
                    <div class="data box default-bg-color">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <h6>Gigabyte</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col flex-style list-btn-custom">
                                    <button class="btn-custom btn-effect">1 GB</button>
                                    <button class="btn-custom btn-effect">2 GB</button>
                                    <button class="btn-custom btn-effect">4 GB</button>
                                    <button class="btn-custom btn-effect">8 GB</button>
                                    <button class="btn-custom btn-effect">10 GB</button>
                                    <button class="btn-custom btn-effect">12 GB</button>
                                    <button class="btn-custom btn-effect">16 GB</button>
                                    <button class="btn-custom btn-effect">18 GB</button>
                                    <button class="btn-custom btn-effect">20 GB</button>
                                    <button class="btn-custom btn-effect">22 GB</button>
                                    <button class="btn-custom btn-effect">24 GB</button>
                                    <button class="btn-custom btn-effect">26 GB</button>
                                    <button class="btn-custom btn-effect">28 GB</button>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <h6>Proxies</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col flex-style list-btn-custom">
                                    <button class="btn-custom btn-effect">20 Proxies</button>
                                    <button class="btn-custom btn-effect">30 Proxies</button>
                                    <button class="btn-custom btn-effect">40 Proxies</button>
                                    <button class="btn-custom btn-effect">50 Proxies</button>
                                    <button class="btn-custom btn-effect">60 Proxies</button>
                                    <button class="btn-custom btn-effect">70 Proxies</button>
                                    <button class="btn-custom btn-effect">80 Proxies</button>
                                    <button class="btn-custom btn-effect">90 Proxies</button>
                                    <button class="btn-custom btn-effect">100 Proxies</button>
                                    <button class="btn-custom btn-effect">130 Proxies</button>
                                    <button class="btn-custom btn-effect">150 Proxies</button>
                                    <button class="btn-custom btn-effect">180 Proxies</button>
                                    <button class="btn-custom btn-effect">200 Proxies</button>
                                    <button class="btn-custom btn-effect">250 Proxies</button>
                                    <button class="btn-custom btn-effect">300 Proxies</button>
                                    <button class="btn-custom btn-effect">400 Proxies</button>
                                    <button class="btn-custom btn-effect">500 Proxies</button>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-4 mb-4">
                            <div class="row">
                                <div class="col">
                                    <h6>Region</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col flex-style list-btn-custom">
                                    <button class="btn-custom btn-effect">US</button>
                                    <button class="btn-custom btn-effect">UK</button>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-4 authorization pb-4">
                            <div class="row">
                                <div class="col">
                                    <h6>Authorization</h6>
                                    <div class="form-group">
                                        <div class="row flex-align-center">
                                            <div class="col-xl-2 pr-0">
                                                <label for="" class="m-0">Ip Address:</label>
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control custom-form-control w-50">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="m-0">(IP authorize can be change after purchase)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="row col flex-align-center">
                                            <label for="" class="mb-0 mr-3">User: </label>
                                            <input type="text" class="form-control custom-form-control w-25">

                                            <label for="" class="mb-0 ml-4 mr-3">Password: </label>
                                            <input type="text" class="form-control custom-form-control w-25">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">(User and Password is fixed until time up)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sub-title default-bg-color">
                        <h6>Total</h6>
                    </div>

                    <div class="data box default-bg-color">
                        <div class="row">
                            <div class="col-xl-6">
                                <p>Proxies + 20 GB + US</p>
                                <h1>4410 credits</h1>
                            </div>
                            <div class="col-xl-6 text-right">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="">
                                    <label class="form-check-label" for="exampleCheck1">All Purchase are final.</label>
                                </div>
                                <button class="btn-custom btn-effect btn-bigger mt-2">Purchase</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="sub-title default-bg-color">
                        <h6>Proxies Status</h6>
                    </div>

                    <div class="data box default-bg-color">
                        <form action="">
                            <div class="container-fluid">
                                <div class="row flex-align-center">
                                    <div class="col-xl-4">
                                        <label for="" class="m-0">Gigabyte Remain</label>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-1">
                                                <label for="" class="m-0">10</label>
                                            </div>
                                            <div class="col-9">
                                                <div class="progress">
                                                    <div class="progress-bar gradient" style="width:70%"></div>
                                                </div>
                                            </div>
                                            <div class="col-1 text-right">
                                                <label for="" class="m-0">24</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row flex-align-center">
                                    <div class="col-xl-3">
                                        <label for="" class="m-0">IP authorize:</label>
                                    </div>
                                    <div class="col-xl-5">
                                        <input type="text" class="form-control custom-form-control">
                                    </div>
                                    <div class="col-xl-4 text-right">
                                        <button class="btn-custom btn-effect">Submit</button>
                                    </div>
                                </div>

                                <div class="row flex-align-center">
                                    <div class="col-xl-4">
                                        <select name="" id="" class="form-control select-custom ">
                                            <option value="">Region...</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-4">
                                        <select name="" id="" class="form-control select-custom ">
                                            <option value="">Quantity...</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-4 text-right">
                                        <button type="submit" class="btn-custom btn-effect">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="data box default-bg-color">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="custom-list">
                                        <p>US</p>
                                        <ul>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                        </ul>

                                        <p>UK</p>
                                        <ul>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                            <li>35.193.62.3128:boosted:24f22413</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex-align-center mt-4">
                                <div class="col-xl-5">
                                    <label for="" class="m-0"><small>Authorized : USER: PASS</small></label>
                                </div>
                                <div class="col-xl-7">
                                    <div class="row">
                                        <div class="col-6">
                                            <select name="" id="" class="form-control select-custom">
                                                <option value="">Options...</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn-custom btn-effect mt-1">Copy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Progress Bar -->
<script src="js/progressbar.min.js"></script>
<!-- Three js -->
<script src="https://threejs.org/build/three.js"></script>
<!-- Canvas Renderer -->
<script src="https://threejs.org/examples/js/renderers/CanvasRenderer.js"></script>
<!-- Projector -->
<script src="https://threejs.org/examples/js/renderers/Projector.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
</body>
</html>